.member-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-login form h1 {
  text-align: center;
  margin-bottom: 50px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.member-login form button {
  display: block;
  margin: auto;
}

.spinner {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
