<section class="admin-login">
  <form [formGroup]="form" class="form" (submit)="onLoginDeveloper()">
    <h1>Admin login</h1>

    <div class="input-wrapper">
      <p>Enter your email</p>
      <mat-form-field appearance="outline">
        <input formControlName="email" matInput />
      </mat-form-field>
    </div>

    <div class="input-wrapper">
      <p>Enter your password</p>
      <mat-form-field appearance="outline">
        <input formControlName="password" type="password" matInput />
      </mat-form-field>
    </div>

    <button
      [disabled]="form.invalid"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Login
    </button>
  </form>
</section>
<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
