.member-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-controll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 20px 0;
}

.submit {
  width: 200px;
  margin-top: 20px;
}

.form-controll button {
  width: 300px;
}

.vote-recorded,
.please-wait {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.vote-recorded p {
  color: green;
  font-size: 22px;
}

.please-wait p {
  color: red;
  font-size: 22px;
}

@media (max-width: 1028px) {
  .form-controll {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .form-controll {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .form-controll {
    flex-direction: column;
  }
  .form-controll button {
    width: 250px;
  }
}
