<section class="wrapper">
  <h1>- Select a person -</h1>
  <h2>
    {{
      "From " +
        (data["eligible_year"] === 2 ? "2nd" : "3rd") +
        " year " +
        (data["eligible_gender"] === "M" ? "boys" : "girls")
    }}
  </h2>
  <mat-dialog-content>
    <div
      [mat-dialog-close]="member"
      class="member"
      *ngFor="let member of membersByPosition"
    >
      <p>{{ member.name }}</p>
    </div>
  </mat-dialog-content>
</section>
<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
