<section class="wrapper member-login">
  <h1>Enter your secret</h1>
  <mat-form-field appearance="fill">
    <input #secret matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'hide'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button
    (click)="onMemberLogin(secret.value)"
    mat-raised-button
    color="primary"
  >
    Verify
  </button>
</section>
