<section class="wrapper admin-home">
  <h1>Mutations</h1>
  <button mat-raised-button color="primary">Create a member</button>
  <h1>Queries</h1>
  <button mat-raised-button color="primary" (click)="onViewAllMembers()">
    View members
  </button>
  <h1>First poll actions</h1>
  <button mat-raised-button color="primary">Trigger first poll</button>
  <button mat-raised-button color="warn">Disable first poll</button>
  <button mat-raised-button color="primary">Get first poll results</button>
  <h1>Second poll actions</h1>
  <button mat-raised-button color="primary">Trigger second poll</button>
  <button mat-raised-button color="warn">Disable second poll</button>
  <button mat-raised-button color="primary">Get second poll results</button>
</section>
